body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  background-color: #fafafa;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 24px;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

.container {
  max-width: 1166px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------HEADER------------- */
.header {
  padding-top: 24px;
  padding-bottom: 32px;
}

.header-container {
  display: flex;
}

.header-nav {
  display: flex;
  margin-right: auto;

  align-items: center;
}

.header-logo {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.header-logo-icon {
  display: inline-block;
  margin-left: 4px;
}

/*  -------------MENU-----------------*/
.menu {
  display: flex;
  gap: 24px;
  margin-left: 413px;
}

.menu-item {
  color: #111;
}

.menu-item-link {
  color: #111;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
}

.menu-item-link:hover,
.menu-item-link:focus,
.menu-item-link:active {
  color: #fd9222;
}

.socials {
  display: flex;
  align-items: center;
  gap: 14px;
}

.socials-item {
}

.socials-item-link {
}

.socials-item-image {
}
/* ------------------------------------ */
/* ----------------MAIN------------- */

/* ----------------MOTTO------------- */
.motto {
  padding-bottom: 80px;
}

.motto-wrap {
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  padding: 381px 40px 32px 40px;
}

.motto-head {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
  max-width: 484px;
  margin-bottom: 32px;
}

.motto-button {
  background: #fd9222;
  border-radius: 100px;
  border: none;
  padding: 14px 40px;
  width: 144px;
  height: 45px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  margin-right: 14px;
}

.motto-button:hover,
.motto-button:focus,
.motto-button:active {
  background: #fcf1e0;
  color: #fd9222;
}

.motto-link {
  background: transparent;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  padding: 14px 40px;
  width: 183px;
  height: 45px;
  margin-right: 585px;
}

.motto-link:hover,
.motto-link:focus,
.motto-link:active {
  border: 1px solid #fd9222;
  color: #fd9222;
}

.motto-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
}

/* ------------------------------------ */
/* -----------------ADVANTAGES------------------- */

.advantages {
  background-color: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.advantages-title {
}

.advantages-list {
  display: flex;
  gap: 88px;
  margin-left: 18px;
  margin-right: 18px;
}

.advantages-list-item {
}

.advantages-list-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.advantages-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/* ------------------------------------ */
/* -----------------TASTE------------------- */

.taste {
  padding-top: 120px;
  padding-bottom: 60px;
}

.taste-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 412px;
  text-align: center;
  margin: 0 auto 28px auto;
}

.accent {
  color: #fd9222;
}

.taste-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 486px;
  margin: 0 auto 50px auto;
}

.taste-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 32px;
}

.taste-list-item {
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fd9222;
  width: calc((100% - 96px) / 4);
  color: #fff;
}

.taste-list-item:nth-child(even) {
  color: #111;
  background-color: #fff;
}

.taste-list-item:nth-child(3n + 3) {
  color: #fff;
  background-color: #1e1823;
  border: 1px solid #1e1823;
}

.taste-list-image {
  margin: 28px auto 36px auto;
}

.taste-list-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin: 0 0 28px 28px;
}

/* ------------------------------------ */
/* -----------------MADE------------------- */
.made {
  padding-top: 60px;
  padding-bottom: 60px;
}

.made-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16667;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.made-image {
  display: inline-block;
}

.made-container {
  background: #fff;
  border-radius: 15px;
  padding: 32px;
  width: 516px;
  height: 400px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 28px;
}

.made-list {
  max-width: 452px;
  list-style: url('../images/list-style.svg');
  list-style-position: outside;
  margin-left: 5px;
}

.made-list-item {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}
.made-list-item:not(:last-child) {
  margin-bottom: 24px;
}

/* ------------------------------------ */
/* -----------------PRODUCTS------------------ */

.products {
  padding-top: 60px;
  padding-bottom: 60px;
}

.products-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.products-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 24px;
  column-gap: 18px;
}

.products-list-item {
  background: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  width: calc((100% - 54px) / 4);
}

.prodacts-list-image {
  margin: 32px 20px 8px 20px;
}

.products-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 2px auto;
}

.products-list-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  margin: 0 auto 18px auto;
}

.products-list-button {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  background-color: #fafafa;
  width: 94px;
  height: 33px;
  text-align: center;
  margin-bottom: 32px;
  margin-left: 88px;
}

/* ------------------------------------ */
/* -----------------SELLERS------------------ */

.sellers {
  padding-top: 60px;
  padding-bottom: 60px;
}
.seller-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}
.sellers-list {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.sellers-list-item {
  border-radius: 15px 15px 0 0;
}
.sellers-list-image {
}
.sellers-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background: #fff;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  padding-top: 28px;
  padding-bottom: 28px;
  text-align: center;
}

/* ------------------------------------ */
/* -----------------REVIEWS----------------- */

.reviews {
  padding-top: 60px;
  padding-bottom: 120px;
}

.container {
}

.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
}

.reviews-list {
  display: flex;
  flex-direction: row;
  gap: 28px;
  margin-bottom: 50px;
}

.reviews-list-item {
  width: calc((100% - 56px) / 3);
}

.reviews-list-image {
  margin: auto;
  margin-bottom: -38px;
}

.reviews-list-details {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  padding: 56px 24px 24px 24px;
  height: 200px;
}

.reviews-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.reviews-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-button {
  display: block;
  border: 1px solid #fd9222;
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
  margin: auto;
  background-color: transparent;
}

.reviews-button:hover,
.reviews-button:focus,
.reviews-button:active {
  background: #fd9222;
  color: #fff;
}

/* ------------------------------------ */
/* -----------------FOOTER----------------- */

.footer {
  background: #1e1823;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
}

.footer-first-part {
  display: flex;
  margin-bottom: 50px;
}

.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-socials {
  margin-left: 510px;
  margin-right: auto;
}

.footer-socials-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  color: #fff;
  margin-bottom: 14px;
}

.footer-socials-list {
  display: flex;
  align-items: center;
  gap: 14px;
}

.footer-socials-item {
}

.footer-socials-item-link {
}

.contacts {
}

.contacts-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #fff;
  margin-bottom: 14px;
}

.contacts-list {
}

.contacts-item {
}
.contacts-item:not(:last-child) {
  margin-bottom: 4px;
}

.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
}

.footer-nav {
  display: flex;
}

.footer-menu {
}

.footer-menu-item {
}

.footer-menu-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-menu-item-link:hover,
.footer-menu-item-link:focus,
.footer-menu-item-link:active {
  color: #fd9222;
}
