body {
  font-family: 'Montserrat', sans-serif;
  color: #111;
  background-color: #fafafa;
}
a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  /* width: 100%; */
  height: auto;
}

hr {
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 335px;

  margin-bottom: 32px;
}

button {
  cursor: pointer;
  padding: 0;
  box-shadow: none;
}

address {
  font-style: normal;
}

section {
  width: 100%;
}

.container {
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ----------------HEADER------------- */
.header {
  padding-top: 20px;
  padding-bottom: 14px;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: -0.03em;
  line-height: 1.29;
  color: #111;
}
.logo-part {
  font-style: italic;
  margin-right: 4px;
}

.logo-icon {
  width: 21px;
  height: 21px;
  margin-left: 4px;
  fill: transparent;
  stroke: #fd9222;
}

/*  -------------MENU-----------------*/
.header-menu {
  display: none;
  gap: 24px;
  margin-left: 413px;
}

.menu-item {
  color: #111;
}

.menu-item-link {
  color: #111;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  transition: color 300ms ease;
}

.menu-item-link:hover,
.menu-item-link:focus,
.menu-item-link:active {
  color: #fd9222;
}

.burger-button {
  border: none;
  background-color: transparent;
  box-shadow: none;
  max-width: 24px;
  max-height: 24px;
  margin-left: auto;
}

.burger-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  stroke: #111111;
}

.socials {
  display: none;
}

/* ------------------------------------ */
/* ----------------MAIN------------- */

/* ----------------MOTTO------------- */
.hero {
  padding-bottom: 79px;
}

.hero-wrap {
  background-color: rgba(17, 17, 17, 0.6);
  border-radius: 30px;
  padding: 395px 20px 21px 20px;
  background-image: linear-gradient(
      180deg,
      rgba(17, 17, 17, 0.4) 0%,
      rgba(17, 17, 17, 0.4) 100%
    ),
    url('../images/Mobile/chocolate-hero-mobile.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  max-width: 335px;
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-wrap {
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../images/Mobile/chocolate-hero-mobile-@2x.jpg');
  }
}

.hero-title {
  text-align: left;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #fff;
  width: 295px;
  margin-bottom: 32px;
}

.hero-btn-wrap {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 32px;
  column-gap: 14px;
}

.hero-btn {
  background: #fd9222;
  border-radius: 100px;
  border: none;
  padding: 12px 28px;
  min-width: 120px;
  height: 41px;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  transition: background-color 300ms linear, color 300ms ease;
}

.hero-btn:hover,
.hero-btn:focus,
.hero-btn:active {
  background-color: #fcf1e0;
  color: #fd9222;
}

.hero-link {
  background: transparent;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 100px;
  text-align: center;
  padding-top: 12px;
  width: 159px;
  height: 41px;
  transition: border 300ms linear, color 300ms ease;
}

.hero-link:hover,
.hero-link:focus,
.hero-link:active {
  border: 1px solid #fd9222;
  color: #fd9222;
}

.hero-scroll {
  display: inline-flex;
  gap: 14px;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
  transition: color 300ms ease;
}

.hero-scroll-circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  fill: #fd9222;
  transition: background-color 300ms linear, fill 300ms ease,
    transform 300ms ease;
}

.hero-scroll:hover,
.hero-scroll:focus {
  color: #fd9222;
}

.hero-scroll:hover .hero-scroll-circle,
.hero-scroll:focus .hero-scroll-circle {
  background-color: #fd9222;
  fill: #ffffff;
  transform: rotate(-90deg);
}

/* ------------------------------------ */
/* -----------------ADVANTAGES------------------- */

.advantages {
  background-color: #1e1823;
  padding-top: 20px;
  padding-bottom: 38px;
}

.advantages-title {
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.advantages-list-item {
  position: relative;
}

.advantages-list-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 365px;
  width: 62px;
  height: 62px;
  fill: #fd9222;
  margin-bottom: 22px;
}

.advantages-list-title {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  margin-bottom: 18px;
}

.advantages-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

.advantages-list-item:not(:last-child)::after {
  display: none;

  position: absolute;
  top: 50%;
  left: 92%;
  /* display: block; */
  content: '';
  border: 1px solid rgba(255, 255, 255, 0.5);
  transform: rotate(-90deg);
  width: 124px;
  height: 0px;
}

/* ------------------------------------ */
/* -----------------TASTE------------------- */

.taste {
  padding-top: 80px;
  padding-bottom: 40px;
}

.taste-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  max-width: 283px;
  text-align: center;
  margin: 0 auto 32px auto;
}

.accent {
  color: #fd9222;
}

.taste-text {
  display: none;

  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  max-width: 486px;
  margin: 0 auto 50px auto;
}

.taste-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.taste-list-item {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid #fd9222;
  background: #fd9222;
  color: #fff;
}

.taste-item-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 15px;
  padding: 28px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid #fff;
}

.taste-list-item:hover .taste-item-overlay,
.taste-list-item:focus .taste-item-overlay,
.taste-list-item:active .taste-item-overlay {
  transform: translatey(0);
}

.taste-list-item:nth-child(even) {
  color: #111;
  background-color: #fff;
}

.taste-list-item:nth-child(even) .taste-hover-svg {
  stroke: #fd9222;
}

.taste-list-item:nth-child(3n + 3) {
  color: #fff;
  background-color: #1e1823;
  border: 1px solid #1e1823;
}

.taste-hover-svg {
  position: absolute;
  top: 14px;
  right: 14px;
  fill: transparent;
  stroke: #ffffff;
}

.taste-picture {
  display: block;
  margin: 32px auto 16px auto;
  background-color: transparent;
  width: 236px;
  height: 167px;
}

.taste-list-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  margin: 0 0 28px 28px;
}

.taste-item-overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
  margin-bottom: 8px;
}

.taste-item-overlay-taste {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
  padding-left: 16px;
  padding-right: 16px;
  height: 24px;
  background-color: #fd9222;
}

.overlay-taste-text {
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #fff;
}

.taste-item-overlay-benefits {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: #111;
  border: 1px solid #fd9222;
  border-radius: 35px;
  padding-left: 16px;
  padding-right: 16px;
  min-width: 93px;
  height: 24px;
  background-color: #fafafa;
  margin-bottom: 14px;
}

.taste-item-overlay-benefits .overlay-taste-text {
  color: #111;
}

.taste-item-overlay-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
  overflow: auto;
  width: 279px;
}

/* ------------------------------------ */
/* -----------------MADE------------------- */
.made {
  padding-top: 40px;
  padding-bottom: 40px;
}

.made-title {
  font-weight: 600px;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.made-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.made-image {
  display: inline-block;
  width: 335px;
  height: 500px;
}

.made-container {
  background: #fff;
  border-radius: 15px;
  padding: 20px 14px 20px 34px;
  width: 335px;
  height: 456px;
}

.made-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;
}

.made-list {
  margin-left: 16px;
  min-width: 37px;
}

.made-list-item {
  position: relative;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
}

.made-list-item::before {
  position: absolute;
  top: 5px;
  left: -16px;
  content: '';
  width: 8px;
  height: 8px;
  border: 1px solid #eceded;
  background-color: #4c4c4c;
  border-radius: 50%;
}

.made-list-item:not(:last-child) {
  margin-bottom: 18px;
}

/* ------------------------------------ */
/* -----------------PRODUCTS------------------ */

.products {
  padding-top: 40px;
  padding-bottom: 40px;
}

.products-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;

  margin-bottom: 22px;
}

.products-list {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.products-list-item {
  width: 100%;
  background: #fff;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding-bottom: 32px;
  padding-top: 32px;
}

.prodacts-list-image {
  display: block;
  margin: 0 auto;
}

.products-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto 2px auto;
}

.products-list-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: rgba(17, 17, 17, 0.7);
  text-align: center;
  margin: 0 auto 18px auto;
}

.products-list-button {
  display: block;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 100px;
  background-color: #fafafa;
  width: 94px;
  height: 33px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* ------------------------------------ */
/* -----------------SELLERS------------------ */

.sellers {
  padding-top: 40px;
  padding-bottom: 40px;
}
.seller-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.sellers-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.sellers-list-item {
  width: 100%;
}

.sellers-item-wrapper {
  position: relative;
  overflow: hidden;
  border-radius: 15px 15px 0 0;
}
.sellers-item-wrapper-overlay {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px 15px 0 0;
  backdrop-filter: blur(15px);
  background-color: transparent;
  padding: 187px 20px 0 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #fff;

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sellers-list-item:hover .sellers-item-wrapper-overlay,
.sellers-list-item:focus .sellers-item-wrapper-overlay,
.sellers-list-item:active .sellers-item-wrapper-overlay {
  transform: translatey(0);
}

.sellers-list-image {
  width: 368px;
  height: 464px;
}
.sellers-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  background: #fff;
  border-bottom: 1px solid rgba(17, 17, 17, 0.1);
  border-left: 1px solid rgba(17, 17, 17, 0.1);
  border-right: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 0 0 15px 15px;
  padding-top: 24px;
  padding-bottom: 24px;
  text-align: center;
}

/* ------------------------------------ */
/* -----------------REVIEWS----------------- */

.reviews {
  padding-top: 40px;
  padding-bottom: 80px;
}

.container {
}

.reviews-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 32px;
}

.reviews-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.reviews-list-item {
  width: 100%;
}

.reviews-list-image {
  width: 80px;
  height: 80px;
  display: block;
  margin: auto;
  margin-bottom: -38px;
}

.reviews-list-details {
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  background: #fff;
  padding: 56px 18px 42px 18px;
  height: 200px;
}

.reviews-list-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: #111;
  margin-bottom: 24px;
}

.reviews-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.reviews-button {
  display: block;
  border: 1px solid #fd9222;
  border-radius: 100px;
  width: 165px;
  height: 41px;
  padding: 12px auto;
  font-weight: 600;
  color: #111;
  font-size: 14px;
  text-align: center;
  margin: auto;
  background-color: transparent;
}

.reviews-button:hover,
.reviews-button:focus,
.reviews-button:active {
  background: #fd9222;
  color: #fff;
}

/* ------------------------------------ */
/* -----------------FOOTER----------------- */

.footer {
  background: #1e1823;
  padding-top: 32px;
  padding-bottom: 32px;
}

.container {
  width: 100%;
}

.footer-first-part {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.footer-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fff;
  max-width: 300px;
}

.footer-socials {
  order: 2;
}

.footer-socials-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #fff;
  margin-bottom: 14px;
}

.footer-socials-list {
  display: flex;
  align-items: center;
  gap: 14px;
}

.footer-socials-item-link:hover .footer-socials-icon,
.footer-socials-item-link:focus .footer-socials-icon {
  stroke: #fd9222;
}

.footer-socials-icon {
  fill: transparent;
  stroke: #ffffff;
  transition: stroke 300ms ease;
}

.contacts {
}

.contacts-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  text-align: left;
  color: #fff;
  margin-bottom: 14px;
}

.contacts-list {
}

.contacts-item {
}
.contacts-item:not(:last-child) {
  margin-bottom: 4px;
}

.contacts-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: #fff;
  transition: color 300ms ease;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #fd9222;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-menu {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.footer-menu-item {
}

.footer-menu-item-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 300ms ease;
}

.footer-menu-item-link:hover,
.footer-menu-item-link:focus,
.footer-menu-item-link:active {
  color: #fd9222;
}

.subscr-wrapper {
  display: flex;
}

.subscr-field {
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  border-radius: 30px;
  padding: 13px 24px;
  width: 207px;
  height: 45px;
  transition: border-color 300ms ease;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
  margin-right: 8px;
}

.subscr-field::placeholder {
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
}

.subscr-button {
  display: block;
  font-family: inherit;
  border: none;
  border-radius: 100px;
  width: 120px;
  height: 45px;
  background-color: #fd9222;
  font-weight: 600;
  font-size: 14px;
  color: #fff;
  text-align: center;
  padding: 14px auto;
  transition: background-color 300ms linear, color 300ms ease;
}

.subscr-button:hover,
.subscr-button:focus,
.subscr-button:active {
  background-color: #fcf1e0;
  color: #fd9222;
}

.subscr-field:hover,
.subscr-field:focus,
.subscr-field:active {
  border-color: #fd9222;
}

/* ---------MEDIA RULES FOR TABLET-------- */

@media screen and (min-width: 768px) {
  hr {
    width: 100%;
    margin-bottom: 24px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .header {
    padding-top: 24px;
    padding-bottom: 35px;
  }

  .header-nav {
    width: auto;
    gap: 83px;
  }

  .header-menu {
    display: flex;
    margin-left: 0;
  }

  .socials {
    display: flex;
    margin-left: auto;
  }

  .burger-button {
    display: none;
  }

  .socials {
    align-items: center;
    gap: 12px;
  }

  .socials-item-link {
  }

  .socials-icon {
    fill: transparent;
    stroke: #111111;
    transition: stroke 300ms ease;
  }

  .socials-item-link:hover .socials-icon,
  .social-item-link:focus .socials-icon {
    stroke: #fd9222;
  }

  /* Main */

  .hero {
    padding-bottom: 40px;
  }

  .hero-wrap {
    padding: 671px 40px 40px 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../images/Tablet/chocolate-hero-tab.jpg');
    max-width: 704px;
  }
  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0.4) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('../images/Tablet/chocolate-hero-tab-@2x.jpg');
    }
  }

  .hero-title {
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: -0.03em;
    width: 484px;
  }

  .hero-btn {
    padding: 14px auto;
    width: 144px;
    height: 45px;
  }

  .hero-link {
    padding: 14px auto;
    min-width: 183px;
    height: 45px;
  }

  .hero-scroll {
    margin-left: auto;
    font-size: 14px;
    line-height: 1.29;
  }

  .hero-scroll-circle {
    width: 38px;
    height: 38px;
  }

  .advantages {
    padding-top: 50px;
    padding-bottom: 85px;
  }

  .advantages-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 44px;
    column-gap: 88px;
  }

  .advantages-list-item {
    max-width: calc((100% - 88px) / 2);
  }

  .taste {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .taste-title {
    font-size: 24px;
    line-height: 1.17;
    min-width: 412px;
    margin-bottom: 50px;
  }

  .taste-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .made {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .made-wrapper {
  }

  .made-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  .made-image-container {
    width: 614px;
    height: 400px;
    align-self: center;
  }

  .made-container {
    width: 614px;
    height: 356px;
    padding: 32px;
    align-self: center;
  }

  .made-subtitle {
    margin-bottom: 28px;
  }

  .made-list {
    max-width: 480px;
  }

  .products {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .products-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  .products-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .products-list-item {
    width: calc((100% - 32px) / 2);
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .sellers {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .seller-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }
  .sellers-list {
    flex-direction: row;
  }

  .sellers-list-item {
    width: calc((100% - 16px) / 2);
  }

  .sellers-item-wrapper-overlay {
    padding: 178px 32px 178px 32px;
  }

  .sellers-list-image {
    width: 344px;
    height: 464px;
  }

  .sellers-list-subtitle {
    padding-top: 28px;
    padding-bottom: 28px;
  }

  .reviews {
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .reviews-title {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 50px;
  }

  .reviews-list {
    flex-direction: row;
    gap: 16px;
    margin-bottom: 50px;
  }

  .reviews-list-item {
    width: calc((100% - 16px) / 2);
  }

  .reviews-list-details {
    padding: 56px 16px 42px;
  }

  .reviews-button {
    width: 222px;
    height: 50px;
    font-size: 18px;
    padding: 14px 40px;
  }

  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-first-part {
    margin-bottom: 50px;
    flex-direction: row;
    gap: 0;
  }

  .footer-title {
    font-size: 28px;
    line-height: 1.21;
    width: 300px;
  }

  .footer-socials {
    order: 0;
    margin-right: auto;
    margin-left: 96px;
  }

  .footer-socials-title {
    text-align: center;
  }

  .footer-nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .footer-menu {
    flex-direction: row;
    gap: 16px;
  }

  .subscr-field {
    width: 232px;
  }

  .subscr-button {
    width: 128px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .taste-list-item {
    width: calc((100% - 32px) / 2);
  }

  .taste-list-item:nth-child(4) {
    order: 2;
  }

  .taste-list-item:nth-child(2) {
    order: 3;
  }

  .taste-list-item:nth-child(3) {
    order: 4;
  }

  .taste-list-item:nth-child(5) {
    order: 5;
  }

  .taste-list-item:nth-child(6) {
    order: 6;
    background-color: #fff;
    border-color: #fd9222;
    color: #111;
  }

  .taste-list-item:nth-child(7) {
    order: 7;
    background-color: #111;
    border-color: #fff;
  }

  .sellers-list-item:last-child {
    display: none;
  }

  .reviews-list-item:last-child {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    max-width: 1166px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .header {
    padding-bottom: 32px;
  }
  .header-nav {
    width: 100%;
    gap: 0;
    margin-right: 90px;
  }

  .header-logo {
    font-size: 18px;
    line-height: 1.11;
  }
  .header-menu {
    margin-left: auto;
  }
  .socials {
    gap: 14px;
  }
  .hero {
    padding-bottom: 80px;
  }

  .hero-wrap {
    padding: 381px 40px 32px 40px;
    background-image: linear-gradient(
        180deg,
        rgba(17, 17, 17, 0.4) 0%,
        rgba(17, 17, 17, 0.4) 100%
      ),
      url('../images/Desktop/chocolate-hero-desk.jpg');
    max-width: 1136px;
  }

  @media (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .hero-wrap {
      background-image: linear-gradient(
          180deg,
          rgba(17, 17, 17, 0.4) 0%,
          rgba(17, 17, 17, 0.4) 100%
        ),
        url('../images/Desktop/chocolate-hero-desk-@2x.jpg');
    }
  }

  .hero-btn-wrap {
    margin-right: 14px;
  }

  .advantages {
    padding-bottom: 50px;
  }

  .advantages-list {
    gap: 88px;
    margin-left: 18px;
    margin-right: 18px;
  }

  .advantages-list-item {
    width: calc((100% - 176px) / 3);
  }

  .advantages-list-item:not(:last-child)::after {
    display: block;
  }

  .taste {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .taste-list {
    row-gap: 24px;
    column-gap: 32px;
  }

  .taste-list-item {
    width: calc((100% - 96px) / 4);
  }

  .taste-item-overlay {
    padding: 20px 15px 24px 15px;
  }
  .taste-picture {
    margin: 28px 23px 36px 23px;
  }
  .taste-item-overlay-benefits {
    margin-bottom: 10px;
  }
  .taste-item-overlay-descr {
    width: 230px;
    height: 162px;
  }

  .made {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .made-wrapper {
    flex-direction: row;
  }

  .made-image {
    width: 600px;
    height: 400px;
  }

  .made-container {
    width: 516px;
    height: 400px;
  }

  .made-list {
    max-width: 452px;
    margin-left: 5px;
  }

  .made-list-item:not(:last-child) {
    margin-bottom: 24px;
  }

  .products {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .products-list {
    row-gap: 24px;
    column-gap: 18px;
  }

  .products-list-item {
    width: calc((100% - 54px) / 4);
  }

  .sellers {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sellers-item-wrapper-overlay {
    padding: 178px 40px 0 40px;
  }

  .reviews {
    padding-top: 60px;
    padding-bottom: 120px;
  }

  .reviews-list {
    gap: 28px;
  }

  .reviews-list-item {
    width: calc((100% - 56px) / 3);
  }

  .reviews-list-details {
    padding: 56px 24px 24px 24px;
  }

  .footer-socials {
    margin-left: 510px;
  }

  .footer-menu {
    gap: 24px;
  }

  .subscr-field {
    width: 313px;
    height: 52px;
    font-size: 18px;
  }

  .subscr-field::placeholder {
    font-size: 18px;
  }

  .subscr-button {
    width: 137px;
    height: 52px;
  }
}
